a {
    color: #F00;
    text-decoration: none;
  }
  
  
  a:hover {
    color: #FFF;
    background-color: #F00;
    text-decoration: underline;
  }
  
  a:focus {
    color: rgb(5, 78, 33);
  }
  
  a:active {
    color: #F60;
    background-color: #FFF;
    text-decoration: none;
  }