
body {
    width: 60em;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
  }
  
  #fecha, #cabecera {
    float: left;
    padding: 0;
    margin: 0;
  }
  
  #fecha {
   width: 16em;
  }
  
  #cabecera {
    width: 44em;
  }
  
  #parrafo {
    list-style-type: none;
    padding: 0;
  }
  
  #parrafo li {
    float: left;
    width: 33%;
  }