table {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }
  
  table, tr, th, td {
    border: 1px solid #333;
    line-height: 2em;
  }
  
  th {
    background-color: #F5F5F5;
    padding: 0 .5em;
  }
  
  td {
    padding: 0 .3em;
  }
  th.euros {
    background: #E6F3FF url(imagenes/euro.png) no-repeat left center;
    padding: 0 .3em 0 1.2em;
  }
  
  th.dolares {
    background: #E6F3FF url(imagenes/dolar.png) no-repeat left center;
    padding: 0 .3em 0 1.2em;
  }
  
  th.libras {
    background: #E6F3FF url(imagenes/libra.png) no-repeat left center;
    padding: 0 .3em 0 1.2em;
  }
  
  th.yens {
    background: #E6F3FF url(imagenes/yen.png) no-repeat left center;
    padding: 0 .3em 0 1.2em;
  }
  .e{
    color : rgb(255, 187, 0);
  }

  .d{

    color : rgb(0, 129, 43) ;

  }

  .l{
    color :rgb(0, 17, 255) ;
  }

  .y{
    color : rgb(0, 138, 0) ;
  }