body {
    width: 960px;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
  }
  
  #fecha, #cabecera {
    float: left;
    padding: 0;
    margin: 0;
  }
  
  #fecha {
   width: 260px;
  }
  
  #cabecera {
    width: 700px;
  }
  
  #parrafo {
    list-style-type: none;
    padding: 0;
  }
  
  #parrafo li {
    float: left;
    width: 33%;
  }