#fi-1 {color: teal;}
#fi-2 {color: red;}
#fi-3 {color: blue;}
#fi-4 {color: orange;}
#fi-5 {color: purple;}
#fi-6 {color: olive;}
#fi-7 {color: fuchsia;}
#fi-8 {color: green;}
td, table {
  border: solid 1px  black;
}

.color2{
  background-color: red;
}

.color3 {
  background-color: green;
}
.color4 {
  background-color: blue;
}



