  body {
      font-family: Arial, Helvetica, sans-serif;
      width: 90%;
      margin: 0 auto;
    }
    
    header {
      text-align: center;
    }
    
    h1, h2 {
      font-family: Georgia, serif;
    }
    
    h1 {
      font-size: 3em;
    }
    
    fieldset {
      margin: 1em auto;
    }
    
    legend {
      font-size: 1.2em;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    label {
      font-weight: bold;
      display: block;
    }
    
    input:focus, select:focus {
      background-color: yellow;
    }
    
    input:hover, select:hover {
      background-color: red;
    }
    
    #botoon {
      font-size: 2em;
      padding: 0.5em;
    }
    
    .inline {
      display: inline;
    }
    
    .centrado {
      text-align: center;
    }