body {
  background-color: #CFC ;
  font-size: 16px;
}

.encabezado1 {
  color: #f00;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 32px;
}

.h2 {
  color: #A00;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
}

.verd {
  color: #060;

}

.texto {
  color:#00F;
  font-size: 16px;
}

.sub {
  color:#060 ;
}
.negrita {
  font-size: 20px;
}

.fondo {
  color:#FFF;
  background-color: #000;
}